
<div class='color-controls'>
    <div><h3>Hue</h3>
        <div class='hue-container'>
            <input type='range' min="0" max="359" value="170" class='slider' id='color-hue'/>
        </div>
    </div>
    <div><h3>Saturation</h3>
        <input type='range' min="0" max="100" value="100" class='slider' id='color-saturation'/>
    </div>
    <div><h3>Lightness</h3>
    <input type='range' min="0" max="100" value="50" class='slider' id='color-lightness'/>
    </div>
    <div class='buttons'>
        <button class='color-on'>On</button>
        <button class='scene-off'>Off</button>
    </div>
</div>