<div>
<nav id='main-nav'>
    <ul>
        <li><a href='leds.html' class="logo">wi <span style='opacity:0.4'>v1.0</span><div class="rgb-text"><span class='r'>L</span><span class='g'>E</span><span class='b'>D</span></div></a></li>
        <li><a href='#white'>White</a></li>
        <li><a href='#color'>Color</a></li>
        <li><a href='#scene'>Scene</a></li>
        <li><a href='#scripts'>Scripts</a></li>
        <li><a href='#config'>Config</a></li>
        <!--<li><a id='toggle-log' class='off'>log</a></li>-->
        </ul>
</nav>

</div>