<script type='text/html' id='strip-item'>
    <div class='strip item' >
        <label><input type='checkbox' /><span class='name'>name</span></label>
    </div>
</script>

<script type='application/javascript'>
/* does nothing.  example of inline javascript */
    (function() {

    })(window.drjs);
</script>

<div class='strip-selection-type single'>
    <div class='strip-list list multiple'>
        <div><a href='#select-all-strips'>all</a> <a href='#select-no-strips'>none</a></div>
        <div class='items'>

        </div>
    </div>

    <div class='strip-select single'>
      <select id='select-strip'>

      </select>  
    </div>
</div>    