#ifndef DRWIFIFCREDENTIALS_H
#define DRWIFIFCREDENTIALS_H

/*
* wifi_credentials.h.example can be committed to public repositories.
* rename it to wifi_credentials.h and insert your SSID/password
*/

namespace DevRelief {
    const char* wifi_ssid = "__YOUR_SSID_HERE__"; //replace this with your WiFi network name
    const char* wifi_password = "__YOUR_PASSWORD_HERE__"; //replace this with your WiFi network password
    
} 

#endif 